.env

DOCKER_CLEANUP.md
MIGRATION.md
PRODUCTION_SETUP.md

ckan-20251113-new.dump
ckan_storage.tar.gz
frontend/node_modules/
load_all_datastore.sh

nginx/setup/ckan-local.crt
nginx/setup/ckan-local.key